<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>

    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">	
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="css/custom.css" type="text/css">

    <title>{{ page.title }}</title>
  </head>

  <body>
  
    <div class="container showgrid">
        <div id="header" class="span-24 last">
            <h1>{{ page.title }}</h1>
        </div>
        <hr>
        <div class="span-17 colborder" id="content">
            {{ content }}
        </div>
        <div class="span-6 last" id="nav">
            <p>Nav stuff</p>
        </div>
    </div>

  </body>
</html>
